window {
    background-color: #1e1e2e;
    border-radius: 8px;
    border: 2px solid #313244;
}

#input {
    margin: 2px;
    padding: 4px;
    border-radius: 4px;
    border: none;
    background-color: #313244;
    color: #cdd6f4;
}

#inner-box {
  margin: 0px;
}

#outer-box {
  margin: 0px;
}

#scroll {
  margin: 0px;
}

#text {
  margin: 2px;
  color: #cdd6f4;
}

#entry {
  padding: 2px;
  margin: 0px;
  border-radius: 4px;
}

#entry:selected {
  background-color: #313244;
}

#img {
  margin: 2px;
  padding-left: 4px;
  border-radius: 4px;
}
